/* box*/
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.d-block {
    display: block;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.f-1 {
    flex: 1;
}
.f-w {
    flex-wrap: wrap;
}
.g-10 {
    gap: 10px;
}
.g-20 {
    gap: 20px;
}
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
    .none-mobile {
        display: none;
    }
    .m-0-mobile {
        margin: 0;
    }
}
/*  box */
/* position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
/* position */
/* padding + margin */
.p-0 {
    padding: 0;
}
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.pl-10 {
    padding-left: 10px;
}
.pl-25 {
    padding-left: 25px;
}
.pl-30 {
    padding-left: 30px;
}
.pl-35 {
    padding-left: 35px;
}
.m-0 {
    margin: 0;
}
.m-5 {
    margin: 5px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-40 {
    margin-top: 40px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
/* padding + margin */
/* colors */
.bg-eee {
    background-color: #eee;
}
.bg-white {
    background-color: #fff;
}
.bg-f6f6f6 {
    background-color: #f6f6f6;
}
.bg-blue {
    background-color: #0075ff;
}
.bg-orange {
    background-color: #f59e0b;
}
.bg-green {
    background-color: #22c55e;
}
.c-white {
    color: #fff;
}
.c-black {
    color: #000;
}
.c-grey {
    color: #888;
}
.c-blue {
    color: #0075ff;
}
.c-orange {
    color: #f59e0b;
}
.c-green {
    color: #22c55e;
}
.c-red {
    color: #f44336;
}
/* colors */
/* fonts */
.txt-c {
    text-align: center;
}
.fs-14 {
    font-size: 14px;
}
.fs-20 {
    font-size: 20px;
}
.fw-bold {
    font-weight: bold;
}
.fw-300 {
    font-weight: 300;
}
/* fonts */
/* ul */
.style-none {
    list-style: none;
}
/* ul */
/* borders */
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.b-none {
    border: none;
}
/* borders */
/* components */
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}